<div>
  <a href="<%= root_path %>">
    <div class="<%= @category ? "button" : "button-active" %> mx-3 my-2 text-sm">
      ALL CONTACTS
    </div>
  </a>
  <%= render @categories %>
  <a href="<%= new_category_path %>">
    <div class="button mx-3 my-2 text-sm">
      NEW CATEGORY
    </div>
  </a>
</div>

