<h2>Categories</h2>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<p>
  <%= link_to "Add New Category", new_category_path %>
</p>
<h2>Contacts</h2>
<ul>
  <%= render @contacts %>
</ul>
