<div class="w-fit relative left-1/2 mt-3">
  <div class="relative right-1/2 text-xl text-white hover:text-green-800 font-bold p-3 bg-green-800 hover:bg-white rounded-xl w-fit">
    <%= home_link %>
  </div>
</div>