<header class="border-b-2">
  <div class="col-span-3 relative">
    <div class="text-white font-bold text-3xl py-5 pl-3">
      <%= link_to "The Contacts App", root_path %>
    </div>
  </div>
  <div class="button w-fit my-5 text-sm absolute right-4 top-0">
    <%= link_to "ADD CONTACT", new_contact_path %>
  </div>
</header>